# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.eggs/
.dist/
dist/
build/

# Environments
.venv/
venv/
env/
ENV/

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Node
node_modules/

# Env files
.env
.env.*


